

body {
   margin: 0;
   background-image: url("../images/spookyTrees.jpg");
   background-size: 100%;
   /* background-repeat:no-repeat; */
   display: compact;
   font-family: northwood_highregular;
}

.costumeCard {
    background-image: linear-gradient(-60deg, darkslategrey, lightslategray, black);
    padding: 5px;
    margin: 5px 10px 10px 10px;
    border-radius: 5%;
    text-align: center;
    border-width: 1%;
}

img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 250px; /* Set a small width */
    height: 350px;
    align-content: center;
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#bottomContainer * {
  color: white;
}

#listingsContainer * {
  color: white;
}

.hidden {
  display: none;
}

#listingsContainer div.listing {
  background-color: grey;
}
